
type {{.Type}} struct{}

var (
    instance{{.Type}} pgdb_v1.Descriptor = &{{.Type}}{}
)

func (d {{.ReceiverType}}) TableName() string {
    return "{{.TableName}}"
}

func (d {{.ReceiverType}}) Fields() []*pgdb_v1.Field {
  return []*pgdb_v1.Field{
  {{ range .Fields }}
    {
      Name: "{{ .DB.Name }}",
      Type: "{{ .DB.Type }}",
    },
  {{ end }}
  }
}

func (d {{.ReceiverType}}) DataField() *pgdb_v1.Field {
  return nil
}

func (d {{.ReceiverType}}) SearchField() *pgdb_v1.Field {
  return nil
}

func (d {{.ReceiverType}}) Indexes() []*pgdb_v1.Index {
  return nil
}
