{{ $VarName := .VarName }}
{{.VarName}}tmp := []*pgdb_v1.SearchContent{
    {{ range .SearchFields }}
		{
			Type:   pgdb_v1.FieldOptions_{{- .Ext.GetFullTextType.String -}},
			Weight: pgdb_v1.FieldOptions_{{- .Ext.GetFullTextWeight.String -}},
			Value:  {{ .VarName }},
		},
    {{ end }}
	}
    {{ range .NestedFieldNames }}
		{{$VarName}}tmp = append({{$VarName}}tmp, m.self.Get{{- . -}}().DBReflect(m.Dialect()).SearchData()...)
    {{ end }}

{{.VarName}} := pgdb_v1.FullTextSearchVectors({{.VarName}}tmp)