var {{.VarName}} interface{} = nullExp
for _, v := range m.self.{{.GoName}} {
    if v.{{.EnumName}} != {{.EnumModelValue}} {
        continue
    }
    if len(v.{{.FloatArrayName}}) == 0 {
        break
    }
    {{.VarName}} = pgdb_v1.FloatToVector(v.{{.FloatArrayName}})
}