{{$first := true}}

{{.VarName}} := exp.NewLiteralExpression(
{{ range .SearchFields }}
    {{- if $first -}}
        {{$first = false}}
    {{- else -}}
    " || " +
    {{- end -}}
    {{- if eq .Ext.FullTextType.String `FULL_TEXT_TYPE_SIMPLE` }}
         "setweight(to_tsvector(?, ?::text), ?)" +
    {{ end -}}
    {{- if eq .Ext.FullTextType.String `FULL_TEXT_TYPE_ENGLISH` }}
            "setweight(to_tsvector(?, ?::text), ?)" +
    {{ end -}}
    {{- if eq .Ext.FullTextType.String `FULL_TEXT_TYPE_EDGE_NGRAM` }}
            "edge_gram_tsvector(?::text, ?)" +
    {{ end -}}
{{ end -}}
    "",
{{ range .SearchFields }}
    {{ if eq .Ext.FullTextType.String `FULL_TEXT_TYPE_SIMPLE` }}
        "simple",
        {{ .VarName }},
        "{{ .Weight }}",
    {{ end }}
    {{ if eq .Ext.FullTextType.String `FULL_TEXT_TYPE_ENGLISH` }}
            "english",
            {{ .VarName }},
            "{{ .Weight }}",
    {{ end }}
    {{ if eq .Ext.FullTextType.String `FULL_TEXT_TYPE_EDGE_NGRAM` }}
            {{ .VarName }},
            "{{ .Weight }}",
    {{ end }}
{{ end }}
        )
