{{- range .Fields }}
 {{.Convert.EnumForValue}}
{{- end }}

type {{.MessageType}} struct {
    self *{{.ReceiverType}}
}

func (dbr *{{.ReceiverType}}) DBReflect() pgdb_v1.Message {
    return &{{.MessageType}}{
        self: dbr,
    }
}

func (m *{{.MessageType}}) Descriptor() pgdb_v1.Descriptor {
    return instance{{.DescriptorType}}
}

func (m *{{.MessageType}}) Record(opts ...pgdb_v1.RecordOptionsFunc) (exp.Record, error) {
    ro := pgdb_v1.NewRecordOptions(opts)
    _ = ro
    nullExp := exp.NewLiteralExpression("NULL")
    _ = nullExp
    {{ if .WantRecordStringBuilder }}
	var sb strings.Builder
    {{ end }}

    rv := exp.Record{}

    {{ range .Fields }}
        {{ if .ExcludeNested }}
        if !ro.IsNested {
        {{ end }}
        {{.Convert.CodeForValue}}
        {{ $VarForValue := .Convert.VarForValue }}
        {{ if $VarForValue }}
            if ro.Nulled {
                rv[ro.ColumnName("{{.DB.Name}}")] = nullExp
            } else {
                rv[ro.ColumnName("{{.DB.Name}}")] =  {{ $VarForValue }}
            }
        {{ end }}

        {{ $VarForAppend := .Convert.VarForAppend }}
        {{ if $VarForAppend }}
        for k, v := range {{ $VarForAppend }} {
            if ro.Nulled {
                rv[k] = nullExp
            } else {
                rv[k] = v
            }
        }
        {{ end }}
        {{ if .ExcludeNested }}
            }
        {{ end }}
    {{ end }}

   return rv, nil
}

func (m *{{.MessageType}}) SearchData(opts ...pgdb_v1.RecordOptionsFunc) ([]*pgdb_v1.SearchContent) {
    rv := []*pgdb_v1.SearchContent{
    {{ range .SearchFields }}
        {
            Type:   pgdb_v1.FieldOptions_{{- .Ext.GetFullTextType.String -}},
            Weight: pgdb_v1.FieldOptions_{{- .Ext.GetFullTextWeight.String -}},
            Value:  {{ .VarName }},
        },
    {{ end }}
    }

    {{ range .Fields }}
        {{ if .Nested }}
        rv = append(rv, m.self.Get{{- .GoName -}}().DBReflect().SearchData()...)
        {{ end }}
    {{ end }}
    return rv
}
