{{/* Due to this: https://github.com/jackc/pgtype/issues/45 we cast json bytes to a string */}}
{{ if .IsArray }}
{{ .VarName }} := make(xpq.Array[string], 0, len({{.InputName}}))
for _, {{ .VarName -}}arrTmp := range {{.InputName}} {
    {{ .VarName -}}tmp, err := pgdb_v1.MarshalProtoJSON({{ .VarName -}}arrTmp)
    if err != nil {
        return nil, err
    }
    {{ .VarName }} = append({{ .VarName }}, string({{ .VarName -}}tmp))
}
{{ else }}
{{ .VarName -}}tmp, err := pgdb_v1.MarshalProtoJSON({{.InputName}})
if err != nil {
    return nil, err
}
{{ .VarName }} := exp.NewLiteralExpression("?::jsonb", string({{- .VarName -}}tmp))
{{ end }}
