var {{ .VarName }} exp.LiteralExpression
if {{ .InputName }}.IsValid() {
    {{.VarName -}}tmp := {{ .InputName }}.AsDuration()
    {{ .VarName }} = exp.NewLiteralExpression("? microsecond", {{.VarName -}}tmp.Microseconds())
} else {
    {{ .VarName }} = exp.NewLiteralExpression("NULL")
}
