{{/* Due to this: https://github.com/jackc/pgtype/issues/45 we cast json bytes to a string */}}
{{ if .IsArray }}
{{ .VarName }}first := true
{{ .VarName }}buf := bytes.Buffer{}
_, _ = {{ .VarName }}buf.WriteString("[")
for _, arrTmp := range {{.InputName}} {
    {{ .VarName -}}tmp, err := protojson.Marshal(arrTmp)
    if err != nil {
        return nil, err
    }
    if ({{ .VarName }}first) {
        {{ .VarName }}first = false
    } else {
        _, _ = {{ .VarName }}buf.WriteString(", ")
    }
    _, _ = {{ .VarName }}buf.Write({{ .VarName -}}tmp)
}
{{ .VarName }} := {{ .VarName }}buf.String()
{{ else }}
{{ .VarName -}}tmp, err := protojson.Marshal({{.InputName}})
if err != nil {
    return nil, err
}
{{ .VarName }} := exp.NewLiteralExpression("?::jsonb", string({{- .VarName -}}tmp))
{{ end }}
