var {{.VarName}} interface{} = nullExp
if len({{ .InputName }}) != 0 && len({{ .InputName }}) * 8 != {{.BitsSize}} {
    return nil, fmt.Errorf("{{ .InputName }} must be {{.BitsSize}} bits")
}
if len({{ .InputName }}) * 8 == {{.BitsSize}} {
    {{.VarName}} = pgdb_v1.BytesToBitVector({{ .InputName }})
}
