{{ if .IsArray }}
{{ .VarName }} := make(xpq.Array[{{.CastType}}], 0, len({{.InputName}}))
for _, {{ .VarName -}}arrTmp := range {{.InputName}} {
    {{ .VarName }} = append({{ .VarName }}, {{.CastFunc}}({{ .VarName -}}arrTmp))
}
{{ else }}
{{ .VarName }} := {{.CastFunc}}({{.InputName}})
{{ end }}