var {{.VarName}} interface{} = nullExp
if len({{ .InputName }}) != 0 && len({{ .InputName }}) != {{.ExpectedBytesLen}} {
    return nil, fmt.Errorf("{{ .InputName }} must be {{.ExpectedBytesLen}} bytes")
}
if len({{ .InputName }}) == {{.ExpectedBytesLen}} {
    {{.VarName}} = pgdb_v1.BytesToBitVector({{ .InputName }})
}
