{{ .VarName -}}tmp := {{.InputName}}
{{ .VarName -}}opts := ro.Nested("{{ .NestedPrefix }}")
if {{ .VarName -}}tmp == nil {
    {{ .VarName -}}opts = append({{ .VarName -}}opts, pgdb_v1.RecordOptionNulled(true))
}

{{ .VarName -}}, err := pgdb_v1.MarshalNestedMsgRecord({{ .VarName -}}tmp.DBReflectWithDialect(m.Dialect()), {{ .VarName -}}opts...)
if err != nil {
    return nil, err
}
