
{{ $UnsafeType := .UnsafeType }}
{{ $ColumnType := .ColumnType }}
{{ $QueryType := .QueryType }}

type {{ .DbType }} struct {
}

type {{ .QueryType }} struct {
	tableName string
}

type {{ .UnsafeType }} struct {
	tableName string
}

type {{ .ColumnType }} struct {
	tableName string
}

func (x *{{ .ReceiverType -}}) DB() *{{- .DbType}} {
	return &{{- .DbType -}}{}
}

func (x *{{- .DbType -}}) Query() *{{- .QueryType }} {
	return &{{- .QueryType -}}{}
}

func (x *{{- .DbType -}}) Columns() *{{- .ColumnType }} {
	return &{{- .ColumnType -}}{}
}

func (x *{{ $QueryType }}) WithTable(t string) *{{- $QueryType }} {
	return &{{- $QueryType -}}{tableName: t}
}

func (x *{{- .QueryType -}}) Unsafe() *{{- .UnsafeType }} {
	return &{{ .UnsafeType }}{tableName: x.tableName}
}

{{ range .QueryFields }}
type {{ .OpsTypeName }} struct {
	tableName string
}

{{if .Op.Eq }}
func  (x *{{ .OpsTypeName }}) Eq(v {{.InputType}}) exp.BooleanExpression {
	return exp.NewIdentifierExpression("", x.tableName, "{{- .ColName -}}").Eq(v)
}
{{end}}

{{if .Op.Neq }}
func  (x *{{ .OpsTypeName }}) Neq(v {{.InputType}}) exp.BooleanExpression {
	return exp.NewIdentifierExpression("", x.tableName, "{{- .ColName -}}").Neq(v)
}
{{end}}


{{if .Op.Gt }}
func  (x *{{ .OpsTypeName }}) Gt(v {{.InputType}}) exp.BooleanExpression {
	return exp.NewIdentifierExpression("", x.tableName, "{{- .ColName -}}").Gt(v)
}
{{end}}

{{if .Op.Gte }}
func  (x *{{ .OpsTypeName }}) Gte(v {{.InputType}}) exp.BooleanExpression {
	return exp.NewIdentifierExpression("", x.tableName, "{{- .ColName -}}").Gte(v)
}
{{end}}

{{if .Op.Lt }}
func  (x *{{ .OpsTypeName }}) Lt(v {{.InputType}}) exp.BooleanExpression {
	return exp.NewIdentifierExpression("", x.tableName, "{{- .ColName -}}").Lt(v)
}
{{end}}

{{if .Op.Lte }}
func  (x *{{ .OpsTypeName }}) Lte(v {{.InputType}}) exp.BooleanExpression {
	return exp.NewIdentifierExpression("", x.tableName, "{{- .ColName -}}").Lte(v)
}
{{end}}


func (x *{{ $QueryType }}) {{ .Field.GoName -}}() *{{ .OpsTypeName }} {
	return &{{- .OpsTypeName -}}{tableName: x.tableName}
}
{{ end }}

{{ range .UnsafeFields }}
func (x *{{ $UnsafeType }}) {{ .GoName -}}() exp.IdentifierExpression {
	return exp.NewIdentifierExpression("", x.tableName, "{{- .DB.Name -}}")
}
{{ end }}

func (x *{{ $ColumnType }}) WithTable(t string) *{{- $ColumnType }} {
	return &{{- $ColumnType -}}{tableName: t}
}

{{ range .ColumnFields }}
func (x *{{ $ColumnType }}) {{ .GoName -}}() exp.Expression {
	return exp.NewIdentifierExpression("", x.tableName, "{{- .DB.Name -}}")
}
{{ end }}
